# Listas

In [1]:
L1 = []

In [2]:
L1

[]

In [3]:
L2 = ['A','E','O','U','I']

In [4]:
L2

['A', 'E', 'O', 'U', 'I']

In [5]:
L3 = [2,3,4,5,6,7]

In [6]:
L3

[2, 3, 4, 5, 6, 7]

In [7]:
L4 = ['A', 2.3, true, "Hola"]

NameError: name 'true' is not defined

In [8]:
L4 = ['A', 'NA',2,3]

In [9]:
LA

NameError: name 'LA' is not defined

In [10]:
L4

['A', 'NA', 2, 3]

In [11]:
L4 =[0]

In [12]:
L4[0]

0

In [13]:
L5 = [0]*10

In [14]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [15]:
L5[4]= 3.1415222

In [16]:
L5

[0, 0, 0, 0, 3.1415222, 0, 0, 0, 0, 0]

In [17]:
L5[15]=8

IndexError: list assignment index out of range

In [19]:
L5[1:5]

[0, 0, 0, 3.1415222]

In [20]:
L5.append(8)

In [21]:
L5

[0, 0, 0, 0, 3.1415222, 0, 0, 0, 0, 0, 8]

In [22]:
L5.remove(3)

ValueError: list.remove(x): x not in list

In [23]:
L5.remove(8)

In [24]:
L5

[0, 0, 0, 0, 3.1415222, 0, 0, 0, 0, 0]

In [25]:
L5.count(0)

9

In [26]:
L5.index(3.1415222)

4

In [27]:
len(L5)

10

In [28]:
L = [1,2,3,4,5,6]

In [29]:
L[1::2]

[2, 4, 6]

In [30]:
L[::2]

[1, 3, 5]

In [31]:
L[-1]

6

In [32]:
8 in L

False

In [33]:
4 in L

True

# CICLOS

In [34]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [35]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [36]:
for c in 'Julian Quimbayo':
    print(c)

J
u
l
i
a
n

Q
u
i
m
b
a
y
o

In [37]:
notas = [3.5, 2.3, 3.8]
suma=0
for nota in notas:
    suma=suma+nota
print(suma/len(notas))

3.1999999999999997

In [38]:
count=0
while count < 10:
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9

In [39]:
primos= [2,3,5,7,11,13,17,19,23,29]

In [40]:
for p in primos:
    print(p)

2
3
5
7
11
13
17
19
23
29

In [42]:
for idx, p in enumerate(primos):
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [43]:
for idx in range (len(primos)):
    print(idx)

0
1
2
3
4
5
6
7
8
9

In [44]:
for idx in range (len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

# TUPLAS

In [45]:
T1 = (1,)

In [46]:
T1

(1,)

In [47]:
T2 = (1,2,3,4)

In [48]:
T2

(1, 2, 3, 4)

In [49]:
T3 = (10,21,22,2.36)

In [50]:
T3

(10, 21, 22, 2.36)

In [51]:
T3[0]

10

In [53]:
T3[0:3]

(10, 21, 22)

In [54]:
a,b,c,d = T3

In [55]:
a

10

In [56]:
b

21

In [57]:
c

22

In [58]:
d

2.36

In [59]:
L7 = list(T3)

In [61]:
L7

[10, 21, 22, 2.36]

In [62]:
T4 = tuple(L7)

In [63]:
T4

(10, 21, 22, 2.36)

In [64]:
"HOLA COMO ESTAN ?".split(" ")

['HOLA', 'COMO', 'ESTAN', '?']

In [65]:
"4,6,2,3,4,6,7".split(",")

['4', '6', '2', '3', '4', '6', '7']

In [66]:
numeros = input("Escribe los números separados por coma")
numerosL = numeros.split(",")
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

for n in numerosT:
    print(n)

Escribe los números separados por coma2,3,78,21,26,98,74,10
['2', '3', '78', '21', '26', '98', '74', '10']
('2', '3', '78', '21', '26', '98', '74', '10')
2
3
78
21
26
98
74
10

In [67]:
numeros = input("Escribe los números separados por coma")
numerosL = numeros.split(",")
print(numerosL)
numerosT = tuple(numerosL)
print(numerosT)

suma=0
for n in numerosT:
    suma+=int(n)
print(suma/len(numerosT))

Escribe los números separados por coma2,5,8,10,47,98
['2', '5', '8', '10', '47', '98']
('2', '5', '8', '10', '47', '98')
28.333333333333332

# Diccionarios

In [68]:
nombre = input("Ingrese su nombre")
print("Hola su nombres es: %s"%nombre)

Ingrese su nombreJulian Andres Quimbayo
Hola su nombres es: Julian Andres Quimbayo

In [69]:
print("Este es el valor de:%s"%a)

Este es el valor de:10

In [70]:
print("Esta es una lista:%s"%numerosL)

Esta es una lista:['2', '5', '8', '10', '47', '98']

In [76]:
print("Su porcentaje es: %.1f"%d)

Su porcentaje es: 2.4

In [77]:
edad = {
    "Julian":35,
    "Camilo":25,
    "Andrea":17,
    "Fabio":15
}

In [78]:
edad[0]

KeyError: 0

In [79]:
edad["Julian"]

35

In [80]:
edad

{'Julian': 35, 'Camilo': 25, 'Andrea': 17, 'Fabio': 15}

In [81]:
edad["Camilo"]=52

In [82]:
edad

{'Julian': 35, 'Camilo': 52, 'Andrea': 17, 'Fabio': 15}

In [83]:
edad.keys()

dict_keys(['Julian', 'Camilo', 'Andrea', 'Fabio'])

In [84]:
edad.values()

dict_values([35, 52, 17, 15])

In [85]:
len(edad)

4

In [86]:
"pepe" in edad

False

In [87]:
"Julian" in edad

True

In [88]:
"Mario" not in edad

True

In [89]:
del edad["Julian"]

In [90]:
edad

{'Camilo': 52, 'Andrea': 17, 'Fabio': 15}